@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600&display=swap");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   background: #fafafa;
   font-family: "Nunito Sans", sans-serif;
   font-weight: 400;
   font-size: 1.6rem;
   line-height: 1.6;
}

.header {
   background: #424242;
   box-shadow: 0 4px 8px rgba(119, 119, 119, 0.25);
   width: 100%;
   padding: 15px 0;
   position: sticky;
   top: 0;
   z-index: 999;
}

.nav {
   width: 90%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo__img {
   display: inline-block;
   width: 70px;
   vertical-align: middle;
}

.nav__list {
   list-style-type: none;
   display: flex;
   align-items: center;
}

.nav__item:not(:first-child) {
   margin-left: 50px;
}

.nav__link {
   text-decoration: none;
   color: #eeeeee;
   font-size: 1.7rem;
   position: relative;
}

.nav__link::after {
   content: "";
   position: absolute;
   left: 0;
   bottom: 0;
   width: 50%;
   height: 2px;
   background-color: #5eff66;
   border-radius: 10px;
   transform: translate(50%, 5px);
   opacity: 0;
}

.nav__link:hover {
   color: #5eff66;
}

.nav__link:hover::after {
   opacity: 1;
}

.nav__link.active {
   color: #5eff66;
}

.nav__link.active::after {
   opacity: 1;
}

.section {
   height: 100vh;
   padding: 50px 25px;
   text-align: center;
}

.section h1 {
   color: #fff;
   font-size: 4rem;
}

.section--home {
   background-color: rebeccapurple;
}

.section--about {
   background-color: orange;
}

.section--portofolio {
   background-color: springgreen;
}

.section--contact {
   background-color: violet;
}

@media screen and (max-width: 568px) {
   .logo {
      display: none;
   }

   .nav__list > .nav__item {
      margin-left: 0;
   }

   .nav__list {
      flex: 1;
      justify-content: space-between;
   }

   .nav__link {
      font-size: 1.5rem;
   }

   .section h1 {
      font-size: 3rem;
   }
}
